.reserve-table-grid {
    background-color: var(--color-primary-one);
    padding: 15px 25px;
}

.reserve-table-find-table {
    font-size: var(--font-size-subtitle);
    color: var(--color-secondary-three);
}

.reserve-table-images {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.reserve-table-image {
    width: auto;
    height: 140px;
    border-radius: 16px;
}

.reserve-table-padding {
    padding-top: 20px;
    align-items: center;
}

.reserve-table-text {
    font-size: var(--font-size-text);
    color: var(--color-secondary-three);
}

.reserve-table-seating-options {
    font-size: var(--font-size-text);
    color: var(--color-secondary-three);
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reserve-table-lets-go-button {
    background-color: var(--color-primary-two);
    border: var(--color-primary-two);
    color: var(--color-secondary-four);
    font-size: var(--font-size-text);
    border-radius: 16px;
    padding: 0px 10px;
    height: 20px;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
}

@media (min-width: 768px) {
    .reserve-table-image {
        width: 40%;
        height: auto;
    }

    .reserve-table-form {
        display: flex;
        justify-content: space-evenly;
    }

    .reserve-table-seating-options {
        width: 30%;
    }
}

