.footer-main-div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: start;
    padding: 10px;
    background-color: var(--color-secondary-three);
}

.footer-doormat-navigation {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-text);
}

.footer-doormat-navigation-header {
    font-weight: bold;
}
