nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    padding: 5px;
}

nav img {
    max-height: 50px;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-left: 20px;
}

ul li a {
    text-decoration: none;
    color: var(--color-primary-one);
    font-weight: bold;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: var(--color-primary-two);
}